{% extends "_base.html" %}

{% block home %} 
{% endblock %}

{% block body %}


<!--div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{this.title}}</h1>
      <p class="col-md-8 fs-4">{{this.tagline}}</p>
      <a class="btn btn-primary btn-lg" role="button" href="wood/harrypotter.html">{{this.button}}</a>
    </div>
  </div>
</div-->
  
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="img"><img class="d-block img-fluid" src="wood/images/werke_breit.jpg"/></div>
        <div class="container">
	  <div class="carousel-caption text-start">
  	    
	    <h1>Videos von WOODs youtube Kanal.</h1>
	    <p>Schöne Dinge aus Holz selbst gemacht</p>
	    <p><a class="btn btn-lg btn-primary" href="wood/harrypotter.html">Hedwig, Schnatz, ...</a></p>
	    
	  </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="img"> <img class="d-block img-fluid"  src="lego/images/lego_carousel.jpg"></div>
        <div class="container">
	  <div class="carousel-caption">

	    <h1>Lego Raumstation</h1>
	    <p>Die meisten Modelle der Serie</p>
	    <p><a class="btn btn-lg btn-primary" href="/lego/index.html">Los gehts!</a></p>
	  </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="img"> <img class="d-block img-fluid"  src="coffee/images/coffee_carousel.jpg"> </div>
        <div class="container">
	  <div class="carousel-caption text-end">
	    
	    <h1>Kaffee</h1>
	    <p>So mache ich Kaffee</p>
	    <p><a class="btn btn-lg btn-primary" href="coffee/index.html">Anschauen</a></p>
	    
	  </div>
	</div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% include 'footer.html' %}


{% endblock %}
