{% macro card(image, text, price='?') %}
<div class="col">
  <div class="card shadow-sm">
    <div><img height="100%" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" src="images/{{image}}"></div>
    <div class="card-body">
      <p class="card-text">{{text}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
	  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('{{image}}').style.display='block'">Anleitung</button>
	  <button type="button" class="btn btn-sm btn-outline-secondary">Bild</button>
        </div>
        <small class="text-muted">{{price}} DM</small>
      </div>
    </div>
  </div>
</div>
<!-- modal instructions -->
<div id="{{image}}" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img src="images/instructions/{{image}}" style="width:100%">
  </div>
</div>

{% endmacro %}
